@model FPLTournament.Models.TournamentAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TournamentAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.team.manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tournament.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tournament.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TournamentAssignmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
