@model FPLTournament.Models.GroupAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.group.GroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group.GroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.manager)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupAssignmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
